<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">忘记密码</div>
		<div class="panel-body">
			<form action="/forget-password" method="post" id="forgetPasswordForm" class="form-signin" role="form">
				{{ onceformhtml}}
				<div class="form-group"><label class="control-label">电子邮件</label><input type="text" name="Email" class="form-control" placeholder="电子邮件" required autofocus value="{{.form.Email}}"></div>
				<div class="form-group"><button class="btn btn-block btn-lg btn-primary" type="submit">找回密码</button></div>
			</form>
		</div>
	</div>
</div>

<script src="/static/js/jquery.validate.min.js"></script>
<script>
$(function() {
	$.validator.setDefaults({
		errorClass: "has-error"
	});
	var validator = $("#forgetPasswordForm").validate({
		rules: {
			Email:{
				required: true,
				email: true,
			},
		},
		messages:{
			Email:{
				required: "请输入电子邮件",
				email: "Email格式错误",
			},
		}
	});
	{{if .HasError}}
	validator.showErrors({
		{{range .errors}}
		"{{.Field}}": "{{.Message}}",
		{{end}}
	});
	{{end}}
});
</script>