<div class="col-md-12">
<h1>我是一个标题</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a elit sit amet risus accumsan suscipit. Sed a faucibus sapien, vitae aliquet mauris. Aenean sed bibendum erat. Vivamus sem odio, ornare sed posuere et, adipiscing et purus. Sed ut semper urna, at interdum quam. Phasellus sed scelerisque tellus, at dictum arcu. Morbi vitae odio eu lorem bibendum sodales eget nec eros. Integer consequat libero ut diam volutpat egestas. Pellentesque sed aliquet risus. Donec quis risus non massa cursus dictum. Sed et pulvinar sem, at accumsan est. Ut sit amet aliquam ante. Cras placerat orci eget dui tempor scelerisque. Duis eu hendrerit lectus. Curabitur volutpat vel massa et scelerisque.
</p>
</div>