<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">忘记密码</div>
		<div class="panel-body">
			<form action="/reset-password/{{.code}}" method="post" id="resetPasswordForm" class="form-signin" role="form">
				{{ onceformhtml}}
				<div class="form-group"><label class="control-label">密码</label><input id="Password" type="password" name="Password" class="form-control" placeholder="密码" value="{{.form.Password}}"></div>
				<div class="form-group"><input type="password" name="PasswordConfirm" class="form-control" placeholder="重复密码" value="{{.form.PasswordConfirm}}"></div>
				<div class="form-group"><button class="btn btn-block btn-lg btn-primary" type="submit">设置密码</button></div>
			</form>
		</div>
	</div>
</div>

<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.passstrength.min.js"></script>
<script>
$(function() {
	$.validator.setDefaults({
		errorClass: "has-error"
	});
	var validator = $("#resetPasswordForm").validate({
		rules: {
			Password:{
				required: true,
				minlength: 6,
			},
			PasswordConfirm: {
				equalTo: "#Password",
				required: true,
			},
		},
		messages:{
			Password:{
				required: "请输入密码",
				minlength: "密码最短6位",
			},
			PasswordConfirm: {
				required: "请再次输入密码做确认",
				equalTo: "两次密码不一致",
			},
		}
	});
	{{if .HasError}}
	validator.showErrors({
		{{range .errors}}
		"{{.Field}}": "{{.Message}}",
		{{end}}
	});
	{{end}}
});
</script>