<div class="users">
	<ul class="nav nav-pills">
		<li class="active"><a href="/users">新用户</a></li>
		<li class=""><a href="/users/by-rep">威望排名</a></li>
		<li class=""><a href="/users/by-digest">精华排名</a></li>
		<li class=""><a href="/users/by-topics">话题排名</a></li>
		<li class=""><a href="/users/by-posts">发帖排名</a></li>
		<li class=""><a href="/users/by-followers">粉丝排名</a></li>
		<li class=""><a href="/users/search">搜索</a></li>
	</ul>
	<br>
	<ul class="users-container" class="users-container">
		{{range .users}}
		<li class="users-box">
		<a href="{{urlfor "UserController.Profile" ":username" .Username}}"><img src="{{.AvatarUrl}}" class="avatar"></a>
		<br>
		<div class="user-info">
		{{.Username}}
		</div>
		</li>
		{{end}}	
	</ul>
</div>