<div class="col-md-3">
	<div class="panel">
		<div class="panel-body text-center">
			<img src="{{.User.AvatarUrl}}&s=220">
			<div>
				<br><br>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#avatarModal">修改头像</button>
			</div>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">资料</div>
		<div class="panel-body">
			<form>
				<fieldset>
					<!-- Appended checkbox -->
					<div class="form-group">
						<label class="control-label" for="Email">电子邮件</label>
						<div class="input-group">
							<input id="Email" name="Email" class="form-control" placeholder="电子邮件" required="" type="text">
							<span class="input-group-addon">     
								<input type="checkbox"> 公开     
							</span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label" for="Nickname">昵称</label>  
						<input id="Nickname" name="Nickname" placeholder="昵称" class="form-control input-md" type="text">
					</div>

					<div class="form-group">
						<label class="control-label" for="Info">个人简介</label>                 
						<textarea class="form-control" id="Info" name="Info" rows="5"></textarea>
					</div>

					<div class="form-group">
						<label class="control-label" for="Company">公司</label>  
						<input id="Company" name="Company" placeholder="公司" class="form-control input-md" type="text">
					</div>

					<div class="form-group">
						<label class="control-label" for="Location">所在地</label>  
						<input id="Location" name="Location" placeholder="所在地" class="form-control input-md" type="text">
					</div>

					<div class="form-group">
						<label class="control-label" for="Url">网址</label>  
						<input id="Url" name="Url" placeholder="网址" class="form-control input-md" type="text">
					</div>

					<div class="form-group">
						<label class="control-label" for="Qq">QQ</label>  
						<input id="Qq" name="Qq" placeholder="QQ号" class="form-control input-md" type="text">
					</div>

					<div class="form-group">
						<label class="control-label" for="WeChat">微信</label>
						<div>
							<a id="WeChat" href="#" class="btn btn-primary" role="button">微信二维码</a>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label" for="Weibo">微博</label>  
						<input id="Weibo" name="Weibo" placeholder="微博用户名" class="form-control input-md" type="text">
					</div>

					<div class="form-group">
						<button id="" name="" class="btn btn-block btn-primary">保存</button>
					</div>

				</fieldset>
			</form>

		</div>
	</div>
</div>
<div class="col-md-3">
	<div class="panel panel-primary">
		<div class="panel-heading">密码</div>
		<div class="panel-body">
			<form>
				<fieldset>
					<!-- Appended checkbox -->
					<div class="form-group">
						<label class="control-label" for="CurrentPassword">当前密码</label>
						<input id="CurrentPassword" name="CurrentPassword" class="form-control" type="password">
					</div>

					<div class="form-group">
						<label class="control-label" for="Password">密码</label>  
						<input id="Password" name="Password" placeholder="请输入新密码" class="form-control input-md" type="password">
					</div>

					<div class="form-group">
						<input name="PasswordConfirm" class="form-control" placeholder="重复密码" value="{{.form.PasswordConfirm}}" type="password">
					</div>

					<div class="form-group">
						<button id="" name="" class="btn btn-block btn-primary">修改密码</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<div id="avatarModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">修改头像</h4>
      </div>
      <div class="modal-body">
        <img src="{{.User.AvatarUrl}}&s=220">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

