<div class="col-md-5">
	<div class="text-center panel panel-default">
		<div class="panel-body">
			<img src="http://1.gravatar.com/avatar/84147bb143d6ba187e59066ecf29872c?s=220"></img>
			<h3>{{.User.Username}}</h3>
			<p>读者，游民，写字的人。大理某小客栈合伙人。从前在非洲，澳洲，东南亚八国，进藏五条线，尼泊尔等游荡，现于印度，半年后中东……但求尽兴</p>
			<div class="sns">
				<a href="#"><i class="icon-qq"></i></a>
				<a href="#"><i class="icon-wechat"></i></a>
				<a href="#"><i class="icon-weibo"></i></a>
			</div>
		</div>
	</div>
	<div class="text-center panel panel-default">
		<div class="panel-body">
			<table class="table">
				<tbody>
					<tr>
						<td>23</td>
						<td>30</td>
						<td>1500</td>
						<td>15000</td>
					</tr>
						<td>粉丝</td>
						<td>关注</td>
						<td>发帖</td>
						<td>回帖</td>
					<tr>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>