<div class="col-md-3">
	<div class="text-center panel panel-default">
		<div class="panel-body">
			<img src="{{.TheUser.LargeAvatarUrl}}" class="avatar"></img>
			<h3>{{.TheUser.Username}}</h3>
			<a href="#" class="btn btn-success btn-follow" role="button"><span class="glyphicon glyphicon-plus"></span> 添加关注</a>
			{{if .TheUser.Info}}
			<p>{{.TheUser.Info|nl2br}}</p>
			{{end}}
			<div class="sns">
				<a href="#"><span class="glyphicon glyphicon-home"></span></a>
				<a href="#"><i class="icon-qq"></i></a>
				<a href="#"><i class="icon-wechat"></i></a>
				<a href="#"><i class="icon-weibo"></i></a>
			</div>
		</div>
	</div>
	<div class="text-center panel panel-default">
		<div class="panel-body">
			<table class="profile-stats table">
				<tbody>
					<tr>
						<td><strong>23</strong></strong></td>
						<td><strong>30</strong></td>
						<td><strong>1500</strong></td>
						<td><strong>15000</strong></td>
					</tr>
						<td>粉丝</td>
						<td>关注</td>
						<td>发帖</td>
						<td>回帖</td>
					<tr>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<ul class="profile-data">
				<li><label>编号</label> {{.TheUser.Id}}</li>
				{{if .TheUser.PublicEmail}}<li><label>电邮</label> {{.TheUser.Email}}</li>{{end}}
				<li><label>生日</label> 1981-3-3</li>
				{{if .TheUser.Company}}<li><label>公司</label> {{.TheUser.Company}}</li>{{end}}
				{{if .TheUser.Location}}<li><label>地点</label> {{.TheUser.Location}}</li>{{end}}
				<li><label>加入</label> {{date .TheUser.Created "Y-m-d"}}</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">最近帖子</div>
		<div class="panel-body"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">最近回帖</div>
		<div class="panel-body"></div>
	</div>
</div>