<div class="col-md-3">
	<div class="panel">
		<div class="panel-body text-center">
			<img src="{{.TheUser.LargeAvatarUrl}}" class="avatar">
			<div>
				<br><br>
				<form id="UserAvatarForm" name="UserAvatarForm" enctype="multipart/form-data" method="post" action="{{urlfor "UserController.Edit" ":username" .TheUser.Username}}">
					{{ onceformhtml }}
					<input name="action" type="hidden" class="form-control" value="UploadAvatar">
					<div class="form-group">
						<input type="file" id="Avatar" name="Avatar" accept="image/*">
						<p class="help-block">支持JPG、PNG图片</p>
					</div>
					<button id="" name="" class="btn btn-block btn-primary">上传头像</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">资料</div>
		<div class="panel-body">
			<form id="UserEditForm" name="UserEditForm" method="post" action="{{urlfor "UserController.Edit" ":username" .User.Username}}">
				{{ onceformhtml }}
				<input name="action" type="hidden" value="UpdateUser">
				<fieldset>
					<!-- Appended checkbox -->
					<div class="form-group">
						<label class="control-label" for="Email">电子邮件</label>
						<div class="input-group">
							<input id="Email" name="Email" class="form-control" placeholder="电子邮件" type="text" value="{{.UserEditForm.Email}}">
							<span class="input-group-addon">     
								<input id="PublicEmail" name="PublicEmail" type="checkbox" value="1" {{if .UserEditForm.PublicEmail}}checked{{end}}> 公开     
							</span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label" for="Nickname">昵称</label>  
						<input id="Nickname" name="Nickname" placeholder="昵称" class="form-control input-md" type="text" value="{{.UserEditForm.Nickname}}">
					</div>

					<div class="form-group">
						<label class="control-label" for="Info">个人简介</label>                 
						<textarea class="form-control" id="Info" name="Info" rows="5">{{.UserEditForm.Info}}</textarea>
					</div>

					<div class="form-group">
						<label class="control-label" for="Company">公司</label>  
						<input id="Company" name="Company" placeholder="公司" class="form-control input-md" type="text" value="{{.UserEditForm.Company}}">
					</div>

					<div class="form-group">
						<label class="control-label" for="Location">所在地</label>  
						<input id="Location" name="Location" placeholder="所在地" class="form-control input-md" type="text" value="{{.UserEditForm.Location}}">
					</div>

					<div class="form-group">
						<label class="control-label" for="Url">网址</label>  
						<input id="Url" name="Url" placeholder="网址" class="form-control input-md" type="text" value="{{.UserEditForm.Url}}">
					</div>

					<div class="form-group">
						<label class="control-label" for="Qq">QQ</label>  
						<input id="Qq" name="Qq" placeholder="QQ号" class="form-control input-md" type="text" value="{{.UserEditForm.Qq}}">
					</div>

					<div class="form-group">
						<label class="control-label" for="Weibo">微博</label>  
						<input id="Weibo" name="Weibo" placeholder="微博用户名" class="form-control input-md" type="text" value="{{.UserEditForm.Weibo}}">
					</div>

					<div class="form-group">
						<button id="" name="" class="btn btn-block btn-primary">保存</button>
					</div>

				</fieldset>
			</form>

		</div>
	</div>
</div>
<div class="col-md-3">
	<div class="panel panel-primary">
		<div class="panel-heading">密码</div>
		<div class="panel-body">
			<form id="UserPasswordForm" name="UserEditForm" method="post" action="{{urlfor "UserController.Edit" ":username" .User.Username}}">
				{{ onceformhtml }}
				<input name="action" type="hidden" value="UpdatePassword">
				<fieldset>
					<!-- Appended checkbox -->
					<div class="form-group">
						<label class="control-label" for="CurrentPassword">当前密码</label>
						<input id="CurrentPassword" name="CurrentPassword" class="form-control" type="password" value="{{.UserPasswordForm.CurrentPassword}}">
					</div>

					<div class="form-group">
						<label class="control-label" for="Password">密码</label>  
						<input id="Password" name="Password" placeholder="请输入新密码" class="form-control input-md" type="password" value="{{.UserPasswordForm.Password}}">
					</div>

					<div class="form-group">
						<input name="PasswordConfirm" class="form-control" placeholder="重复密码" value="{{.UserPasswordForm.PasswordConfirm}}" type="password">
					</div>

					<div class="form-group">
						<button id="" name="" class="btn btn-block btn-primary">修改密码</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/additional-methods.min.js"></script>
<script src="/static/js/jquery.passstrength.min.js"></script>
<script src="/static/js/jquery.email-autocomplete.min.js"></script>
<script src="/static/js/mailcheck.min.js"></script>
<script>
$(function() {
	$.validator.setDefaults({
		errorClass: "has-error",
	});
	var validatorForUserAvatarForm = $("#UserAvatarForm").validate({
		onkeyup: false,
		rules: {
			Avatar: {
				required :true,
				extension: "jpeg|jpg|png",
			},
		},
		messages:{
			Avatar:{
				required: "请选择头像图片",
				extension: "只允许jpg和png类型的图片",
			},
		},
	});
	var validatorForUserEditForm = $("#UserEditForm").validate({
		onkeyup:false,
		rules: {
			Email: {
				required: true,
				email: true,
			},
			Url:{
				url: true,
			},
		},
		messages: {
			Email: {
				required: "请输入电子邮件",
				email: "请输入正确的电子邮件地址",
			},
			Url:{
				url: "网址格式错误",
			},
		},
	});
	var validatorForUserPasswordForm = $("#UserPasswordForm").validate({
		onkeyup: false,
		rules:{
			CurrentPassword:{
				required: true,
				minlength: 6,
			},
			Password:{
				required: true,
				minlength: 6,
			},
			PasswordConfirm:{
				required: true,
				equalTo: "#Password",
			},
		},
		messages:{
			CurrentPassword:{
				required: "请输入当前密码",
				minlength: "密码最短6位",
			},
			Password:{
				required: "请输入新密码",
				minlength: "密码最短6位",
			},
			PasswordConfirm:{
				required: "请再次输入密码做确认",
				equalTo: "两次密码不一致",
			},
		},
	});
	$('#Password').passStrengthify({
		minimum: 6,
		labels: {
			tooShort: '密码太短',
			passwordStrength: '密码强度'
		}});
	var domains = ["163.com","126.com","qq.com","sina.com","vip.qq.com","sina.cn","hotmail.com","gmail.com","sohu.com","139.com","wo.com.cn","189.com","21cn.com","me.com","live.com","mac.com","yahoo.com","outlook.com","icloud.com","mail.com"];
	var tlds = ["com","net","org","info","edu","cn","com.cn"]
	$("#Email").emailautocomplete({
	  domains: domains,
	});
	$('#Email').on('blur', function() {
	  $(this).mailcheck({
	    domains: domains,
	    topLevelDomains: tlds,
	    suggested: function(element, suggestion) {
	      var emailInput = $("#Email");
	      if ($("#suggest-label").length==0)
	      {
	      	var label = $("<label></label>");
	      	label.attr("id","suggest-label");
	      	label.addClass("suggest");
	      	label.html('你要输入的是<a id="suggested-email" href="javascript:void(0);">'+suggestion.full+'</a>么？').insertAfter(emailInput);
	      }
	      else{
	      	$("#suggested-email").text(suggestion.full)
	      }
	      $("#suggested-email").click(function(){
	      	emailInput.val(suggestion.full);
	      	$("#suggest-label").remove();
	      })
	    },
	    empty: function(element) {
	      // callback code
	    }
	  });
	});
	//显示服务端错误信息
	{{if .UserAvatarFormValidErrors}}
	validatorForUserAvatarForm.showErrors({
		{{range .UserAvatarFormValidErrors}}
		"{{.Field|jsescape}}": "{{.Message|jsescape}}",
		{{end}}
	});
	{{end}}
	{{if .UserEditFormValidErrors}}
	validatorForUserEditForm.showErrors({
		{{range .UserEditFormValidErrors}}
		"{{.Field|jsescape}}": "{{.Message|jsescape}}",
		{{end}}
	});
	{{end}}
	{{if .UserPasswordFormValidErrors}}
	validatorForUserPasswordForm.showErrors({
		{{range .UserPasswordFormValidErrors}}
		"{{.Field|jsescape}}": "{{.Message|jsescape}}",
		{{end}}
	});
	{{end}}
});
</script>