html,
body{
  height:100%;
}
body{
  padding-top:50px;
}
body {
  background: #EDEDED url(../img/furley_bg.png);
}
#wrapper{
  min-height: 100% !important;
  height: auto !important;
  margin: 0px auto -180px;
}
#wrapper .wrapper-push,
#footer {
    height: 180px;
}
.navbar-fixed-top{
  -webkit-box-shadow: 0px -3px 12px  rgba(0,0,0,0.5);
	box-shadow: 0px -3px 12px  rgba(0,0,0,0.5);
}
.navbar-default{
	background-color: #ffffff;
}
.navbar-default .navbar-brand{
	color:#000000;
}
#main{
	margin-top: 30px;
}
#footer {
    background: #fff;
    -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
    margin-top: 65px
}

#footer .footer-wrap {
    padding: 20px 0
}

#footer .desc {
    color: #ababab
}

.panel{
  border-width: 3px 0px 0px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}
.panel-default{
  border-color: #DDD;
  border-top-color: #2f78ed;
}

/* 二级导航 */
.subnav .nav > li > a{
  padding: 5px 10px;
}


/* 错误信息 */
.has-error .form-control {
    background-color: #000;
    border-color: #A94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
label.has-error{
  background-color: #F0AD4E;
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 100%;
  font-weight: bold;
  line-height: 1.25;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
label.suggest{
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 100%;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
/* Email自动完成 */
.eac-sugg{
  color:#ccc;
}
.sns{
  font-size: 22px;
}
.sns a:link{
  color: #999;
}
.sns a:visited{
  color: #999;
}
.sns a:hover{
  color: #2f78ed;
}
.sns a:active{
  color: #999;
}
.profile-stats tbody tr td{
  border-top:0px;
  font-size:16px;
}
.profile-stats tbody tr td strong{
  font-size: 20px;
  font-weight: bolder;
}
.profile-data {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.profile-data li{
  padding: 0 0 10px;
}
.profile-data li label{
  display: block;
  font-weight: bold;
}
.btn-follow {
  margin-bottom: 10px;
}
.avatar{
  border-radius: 4px;
}
.social-login-icons img{
  width: 40px;
}
/*用户列表*/
.users .users-container {
    padding: 0;
}

.users .users-box {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    vertical-align: top;
    width: 188px;
}
.users .users-box .avatar{
    background-color: #fff;
    border: 1px solid #ddd;
    max-width: 100%;
    padding: 4px;
}