appname = GoTalk
httpport = 8080
runmode = dev
apphost = localhost:8080
appurl = http://localhost:8080
tmppath = /tmp/

[mysql]
host = 127.0.0.1
user = root
password = 
db = gotalk

[importer]
discuzdb = discuz
avatarpath = /Users/jiangle/project/import/avatar


[mongodb]
host = 127.0.0.1
name = gotalk

[redis]
host = 127.0.0.1
port = 6379

[security]
cookieusername = natural
cookieremembername = water

[attachment]
store = local
url = http://s.gotalk.local/attachments/
local_path = ./attachments

[avatar]
store = local
url = http://localhost:8080/avatars/
local_path = /Users/jiangle/project/go/src/github.com/naokij/gotalk/avatars/

[sendcloud]
domain = gotalk.local
user = postmaster@gotalk.local
key = key
from = gotalk@gotalk.local
fromname = GoTalk

[stopforumspam]
key = key

[oauth]
weibo_client_id = your_client_id
weibo_client_secret = your_client_secret

qq_client_id = your_client_id
qq_client_secret = your_client_secret

github_client_id = your_client_id
github_client_secret = your_client_secret